{:aliases {:test  {:extra-deps  {com.github.seancorfield/expectations
                                 {:mvn/version "2.2.214"}

                                 lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                   :extra-paths ["src/test" "src/test-project"]
                   :jvm-opts    ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                 "-Dio.netty.tryReflectionSetAccessible=true"]
                   :main-opts   ["-m" "kaocha.runner"]}
           :watch {:exec-args {:watch? true}
                   :exec-fn   kaocha.runner/exec-fn}}
 :deps    {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           io.github.bolivier/declensia
           {:git/branch "main"
            :git/sha    "aa52f42e0a02c7c794b763bd0c049f4d78e40baf"}

           metosin/malli {:mvn/version "0.18.0"}}
 :paths   ["src"]}
