.clj-kondo/.cache
.lsp
.cpcache
.shadow-cljs
/.nrepl-port
/tram-daemon.log
.postgres
/target
resources/test.db
node_modules
/test/browser/browser-tests/
/starter-template/resources/public/js/cljs-runtime
