{:binding {:force-nl? true}
 :extend  {:indent 0}
 :map     {:comma?    false
           :force-nl? true}
 :style   [:justified
           :rod-no-ma-nl
           :sort-require
           :hiccup
           :extend-nl
           :map-nl
           :pair-nl
           :binding-nl-all
           :all-hang]}
