#kaocha/v1 {:tests   [{:id          :unit
                       :test-paths  ["test/main"]
                       :ns-patterns [".*"]}

                      ;; I'm unsure if these should be run fully separate or
                      ;; not. Since they need to work in jvm Clojure, I'm
                      ;; inclined to say that they should be run here and there.
                      {:id          :bb-compatible
                       :test-paths  ["test/bb_compatible"]
                       :ns-patterns [".*"]}]
            :plugins [:kaocha.plugin/hooks]
            :kaocha.hooks/pre-test [tram.kaocha-hooks/load-matcher-combinators]}
