#kaocha/v1
 {:default-test-paths ["test/tram"]
  :kaocha.hooks/pre-load [kaocha-utils.kaocha-hooks/load-matcher-combinators
                          kaocha-utils.kaocha-hooks/set-up-test-database]
  :plugins [:kaocha.plugin/hooks]
  :tests [{:id          :unit
           :ns-patterns ["^tram.*" "^rapid-test.*"]
           :test-paths  ["test/main"]}
          ;; I'm unsure if these should be run fully separate or
          ;; not. Since they need to work in jvm Clojure, I'm
          ;; inclined to say that they should be run here and there.
          {:id          :bb-compatible
           :ns-patterns [".*"]
           :test-paths  ["test/bb_compatible"]}
          #_{:id          :cli
             :ns-patterns [".*"]
             :test-paths  ["test/bb_only/tram_cli"]}]}
