{:database/test {:db            {:dbname   "resources/test.db"
                                 :dbtype   "sqlite"}
                 :init-script   "init.sql"
                 :migration-dir "test-migrations/"
                 :migration-table-name "migrations"
                 :store         :database}
 :project/name  :tram}
