{:database/test {:db            {:dbname   "tram_test"
                                 :dbtype   "postgresql"
                                 :host     "localhost"
                                 :password #env PG_PASSWORD
                                 :port     5433
                                 :user     #env PG_USER}
                 :init-script   "init.sql"
                 :migration-dir "test-migrations/"
                 :migration-table-name "migrations"
                 :store         :database}
 :project/name  :tram}
