{:config-paths ["../resources/clj-kondo.exports/bolivier/tram"]
 :lint-as      {tram.core/defroutes         clojure.core/def
                tram.http.routing/defroutes clojure.core/def
                tram.utils/with-same-output clojure.core/let
                tram.testing.mocks/with-stub clojure.core/let}}
