{:extend      {:indent 0} ;; for extend-protocol et al.  Prevents
 ;; indentation there.
 :pair-fn     {:hang? false}
 :binding     {:force-nl? true}
 :fn-force-nl #{:arg1-body :arg2}
 :fn-map      {"="               [:hang {:list {:force-nl? false}}]
               "cond"            [:pair-fn {:pair {:hang?         false
                                                   :force-nl?     true
                                                   :nl-separator? true}}]
               "defroutes"       "def"
               "do"              [:noarg1-body {:list {:force-nl? true}}]
               "if"              [:arg1-body {:list {:force-nl? true}}]
               "try"             :flow-body
               "when"            [:arg1-body {:list {:force-nl? true}}]
               "when-not"        [:arg1-body {:list {:force-nl? true}}]
               "with-connection" :binding
               "with-mock-tram-config" :binding
               "with-same-output" :binding
               "with-stub"       :binding
               "with-temp-ns"    :arg1}
 :map         {:comma?    false ;; no commas in maps
               :force-nl? true} ;; newlines required in maps
 :style       [:justified       ;; justify pairs
               :rod-no-ma-nl    ;; function formattin
               :sort-require    ;; sorting
               :hiccup          ;; improved hiccup vector formatting
               :extend-nl       ;; require newlines in extend et al
               :map-nl     ;; require newlines in maps
               :pair-nl    ;; require newlines between pairs
               :binding-nl ;; require newlines in bindings
               :all-hang   ;; hang where possible
              ]}
